* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}
nav {
 display: flex;
 align-items: center;
 justify-content: space-between;
 background-color: #24292f;
 color: #fff;
 padding: 16px 32px;
 height: 61px;
}
.nav__left {
 display: flex;
 align-items: center;
}
.nav__left i {
 font-size: 32px;
 margin-right: 14px;
}
.nav__input {
 position: relative;
}
.nav__input input {
 width: 272px;
 height: 30px;
 padding: 0 4px 0 12px;
 border: none;
 outline: none;
 border-radius: 6px;
 border: 1.4px solid #57606a;
 background-color: #24292f;
}
.nav__input input::placeholder {
 color: #c8c9cb;
}
.nav__input .nav__box {
 position: absolute;
 border: 1px solid #57606a;
 height: 20px;
 width: 20px;
 top: 5px;
 right: 4px;
 display: flex;
 align-items: center;
 justify-content: center;
 color: #c8c9cb;
 background-color: #24292f;
 border-radius: 4px;
}
.nav__middle {
 width: 100%;
 margin-left: 15px;
 justify-self: flex-start;
}
.nav__options a {
 text-decoration: none;
 color: #fff;
 font-weight: 600;
 font-size: 14px;
 margin-right: 16px;
}
.nav__options a:hover {
 color: #c8c9cb;
}
.nav__right {
 display: flex;
 align-items: center;
 cursor: pointer;
}
.nav__right i:hover {
 color: #c8c9cb;
}
.avatar__img {
 width: 25px;
 height: 25px;
 display: flex;
 align-items: center;
 justify-content: center;
 margin: auto 0;
 position: relative;
}
.avatar__img img {
 width: 22px;
 height: 22px;
 border-radius: 50%;
}
.active__box {
 width: 14px;
 height: 14px;
 border-radius: 50%;
 background-color: #24292f;
 position: absolute;
 top: -3px;
 right: -5px;
 display: flex;
 align-items: center;
 justify-content: center;
}
.active__box-blue {
 width: 10px;
 height: 10px;
 border-radius: 50%;
 background-color: #3690f8;
}

.main__header {
 margin-top: 24px;
 border-bottom: 0.5px solid #c8c9cb;
 position: sticky;
 top: 0;
 background-color: #fff;
}
.header__options {
 height: 48px;
 margin: 0 23px;
 padding: 0 32px;
 display: flex;
 align-items: center;
 justify-content: center;
}
.header__options__box {
 height: 48px;
 display: flex;
 align-items: center;
 padding: 8px 16px;
 border: 2px solid transparent;
 cursor: pointer;
}
.header__options__box i {
 font-size: 14px;
 color: #6e7781;
 margin-right: 5px;
}
.header__options__box h4 {
 font-size: 14px;
 font-weight: 400;
}
.header__options__box:hover {
 border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}
.header__options__box.options__active {
 border-bottom: 2px solid #fd8c66;
}
.header__options__box.options__active h4,
.header__options__box.options__active i {
 font-weight: 800;
 color: #24292f;
}

main {
 margin: 0 23px;
 padding: 0 32px;
 display: flex;
}
.main__left {
 width: 296px;
 max-width: 296px;
}
.main__profil__box {
 margin-top: -35px;
}
.main__left .main__profil {
 width: 296px;
 position: relative;
}
.main__left .main__profil img {
 width: 296px;
 height: auto;
 border-radius: 50%;
 border: 2px solid #c8c9cb;
}
.main__left .main__profil .icon__box {
 width: 37px;
 height: 37px;
 background-color: #fff;
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
 bottom: 38px;
 right: 3.5px;
 border-radius: 50%;
 border: 1px solid #c8c9cb;
 cursor: pointer;
}
.main__left .main__profil .icon__box i {
 font-size: 16px;
 color: #57606a;
}
.main__left .main__profil .icon__box i:hover {
 color: blue;
}
.profil__info__middle {
 padding: 16px 0;
}
.profil__info__middle h4 {
 font-size: 26px;
 font-weight: 600;
}
.profil__info__middle p {
 font-size: 20px;
 font-weight: 300;
 color: #57606a;
}
.profil__info__bottom h4 {
 font-size: 16px;
 font-weight: 400;
}
.profil__info__bottom button {
 width: 100%;
 text-align: center;
 color: #24292f;
 padding: 4px 25px;
 margin: 20px 0;
 background-color: #f6f8fa;
 border: 0.5px solid rgba(27, 31, 36, 0.15);
 border-radius: 4px;
 box-shadow: 0 1px 0 rgba(27, 31, 36, 0.04),
  inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.joining__time {
 display: flex;
 align-items: center;
 padding-top: 4px;
 color: #6e7781;
}
.joining__time i {
 margin-right: 10px;
}
.joining__time p {
 font-size: 12px;
 color: black;
}
.main__right {
 width: 100%;
 height: 5rem;
 margin-left: 24px;
}
.main__top {
 width: 100%;
 padding: 16px 0;
 border-bottom: 0.5px solid #c8c9cb;
}
.main__top input {
 width: 55%;
 padding: 7px 12px;
 border-radius: 6px;
 outline: none;
 border: 1px solid #c8c9cb;
}
.main__top button {
 background-color: #f6f8fa;
 padding: 7px 16px;
 border-radius: 6px;
 border: 0.5px solid #c8c9cb;
 font-weight: 500;
}
.main__top button i {
 margin-left: 4px;
}
.main__middle {
 display: flex;
 justify-content: space-between;
 padding: 24px 0;
 border-bottom: 0.5px solid #c8c9cb;
}
.repository__name {
 display: flex;
 align-items: center;
}
.repository__name h4 {
 color: #0969da;
 font-size: 20px;
 font-weight: 600;
 margin-right: 10px;
 cursor: pointer;
}
.repository__name h4:hover {
 text-decoration: underline;
}
.repository__name span {
 padding: 0 7px;
 font-size: 12px;
 font-weight: 500;
 border: 1px solid #c8c9cb;
 border-radius: 2em;
}
.main__middle__left p {
 font-size: 14px;
 margin: 8px 0;
}
.updated__time {
 display: flex;
 align-items: center;
}
.updated__time > p {
 font-size: 12px;
}
p#box {
 margin-right: 20px;
 display: flex;
 align-items: center;
}
p#box::before {
 content: ' ';
 width: 10px;
 height: 10px;
 margin-right: 3px;
 background-color: #e34c26;
 border-radius: 50%;
 display: inline-flex;
 align-items: center;
}
.star__button_box {
 width: 155px;
 height: 58px;
 border-bottom-right-radius: 5px;
 border-bottom: 2px solid #a6e8b3;
 position: relative;
}
.star__button {
 width: max-content;
 display: flex;
 align-items: center;
 padding: 3px 12px;
 right: 0;
 top: 0;
 position: absolute;
 background-color: #f6f8fa;
 border: 0.5px solid #c8c9cb;
 border-radius: 6px;
}
.star__button i {
 margin-right: 5px;
}
.star__button p {
 margin-right: 25px;
}
.star__button_box span {
 width: 20%;
 height: 28px;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 3px 10px;
 background-color: #f6f8fa;
 border: 0.5px solid #c8c9cb;
 border-bottom: none;
 border-radius: 0 6px 6px 0;
 position: absolute;
 right: 0;
 top: 0;
}

footer {
 height: 114px;
 margin: 0 23px;
 padding: 0 16px;
}
.footer__start {
 display: flex;
 align-items: center;
 height: 114px - 40px;
 padding: 40px 0 0 8px;
 margin-top: 40px;
 border-top: 0.5px solid #c8c9cb;
}
.footer__start .footer__left {
 display: flex;
 align-items: center;
 color: grey;
}
.footer__start .footer__left i {
 font-size: 24px;
 margin-right: 5px;
}
.footer__start .footer__left p {
 font-size: 12px;
 margin-right: 70px;
}
.footer__right a {
 font-size: 12px;
 margin-right: 40px;
 text-decoration: none;
 color: #0969da;
}
.footer__right a:hover {
 text-decoration: underline;
}
.footer__end {
 padding: 0 0 40px;
}
