* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: arial, sans-serif;
}

header {
 display: flex;
 align-items: center;
 justify-content: flex-end;
 background-color: #202124;
 height: 60px;
 padding: 6px;
}
.header__right {
 display: flex;
 align-items: center;
 justify-content: center;
 padding-right: 4px;
}
.header__right a {
 font-size: 13px;
 padding-right: 15px;
 text-decoration: none;
 color: #e2e2e3;
}
.header__right a:hover {
 text-decoration: underline;
}
.header__options {
 width: 25px;
 height: 25px;
 display: flex;
 align-items: center;
 justify-content: center;
 color: #e2e2e3;
 cursor: pointer;
 border-radius: 50%;
}
.header__options span {
 font-size: 20px;
}
.header__options:hover {
 background-color: #202124;
 color: #e2e2e3;
 opacity: 0.6;
}
.header__avatar {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 margin: 0 12px;
}
.header__avatar img {
 width: 32px;
 height: 32px;
 border-radius: 50%;
}

main {
 height: calc(100vh - 155px);
 background-color: #202124;
 color: #fff;
}
.main__section {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.main__input__section {
 padding: 20px;
}
.main__input {
 width: 582px;
 height: 46px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 5px 8px 0 14px;
 border: 0.2px solid #5f6368;
 border-radius: 30px;
 color: #5f6368;
}
.main__input input {
 width: 70%;
 border: none;
 outline: none;
 color: #fff;
 background-color: transparent;
}
.main__button {
 display: flex;
 align-items: center;
 justify-content: center;
 height: 58px;
 padding-top: 20px;
}
.main__button button {
 height: 36px;
 margin: 11px 4px;
 padding: 0 16px;
 background-color: #303134;
 border: 1px solid #303134;
 border-radius: 4px;
 color: #e8eaed;
 font-size: 14px;
}
.language__options {
 display: flex;
 align-items: center;
 justify-content: center;
 margin-bottom: 24px;
}
.language__options p {
 font-size: 13px;
 margin-right: 5px;
 color: #bdc1c6;
}
.language__options a {
 padding: 0 3px;
 font-size: 13px;
 color: #8ab4f8;
 text-decoration: none;
}
div.location {
 padding: 15px 30px;
 border-bottom: 1px solid #212327;
 font-size: 15px;
 color: #9aa0a6;
 background-color: #171717;
}
footer {
 display: flex;
 align-items: center;
 justify-content: space-between;
 height: 46px;
 padding: 0 20px;
 background-color: #171717;
}
footer a {
 padding: 0 14px;
 font-size: 14px;
 color: #999da2;
 text-decoration: none;
 cursor: pointer;
}
footer a:hover {
 text-decoration: underline;
}
