* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.flex_c {
 display: flex;
 align-items: center;
}
.justify_c {
 justify-content: center;
}
header {
 justify-content: space-between;
 padding: 0 16px;
 height: 56px;
 position: sticky;
 background-color: rgba(255, 255, 255, 0.5);
 backdrop-filter: blur(12px);
 top: 0;
}

/* header left  */
.header__left {
 justify-content: space-around;
 width: 169px;
 height: 56px;
}
.header__left img {
 height: 20px;
}

/* header middle  */
.header__middle {
 width: 728px;
 height: 40px;
}
.input__box {
 margin-left: 40px;
 padding: 0 4px;
 width: 644px;
 height: 40px;
}
.input__box form {
 width: 482px;
 height: 40px;
}
div.input {
 margin-left: 34px;
 padding: 2px 6px;
 height: 40px;
 border: 1px solid rgba(0, 0, 0, 0.2);
}
div.input input {
 width: 100%;
 height: 26px;
 border: none;
 outline: none;
}
.input__box button {
 background-color: #fff;
 height: 40px;
 border: 1px solid rgba(0, 0, 0, 0.2);
 padding: 1px 6px;
 border-left: none;
}
.input__box button span:not(.input__box button:nth-child(5) span) {
 font-size: 16px;
 color: #0094e8;
}
.input__box button:first-child {
 width: 31px;
}
.input__box button:nth-child(3) {
 width: 15px;
}
.input__box button:nth-child(4) {
 margin: 0 4px;
 border: 1px solid rgba(0, 0, 0, 0.2);
}
.input__box button:nth-child(5) {
 background-color: #f8f8f8;
 width: 64px;
 border: 1px solid rgba(0, 0, 0, 0.2);
}
.mic-box {
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background-color: #f9f9f9;
}

/* header right  */

.header__right {
 justify-content: flex-end;
 width: 225px;
 height: 40px;
}
div.header__right > span {
 padding: 8px;
 margin-right: 5px;
}
.sign__in {
 padding: 5px 11px;
 color: #065fd4;
 border: 1.5px solid #065fd4;
}
.sign__in h3 {
 font-size: 14px;
 margin-left: 8px;
}

/* main  */

main {
 height: calc(100vh - 70px);
 display: flex;
 overflow: hidden;
}

/* sidebar  */

.sidebar__box {
 display: flex;
 width: 230px;
 height: 100%;
 padding-right: 14px;
 position: sticky;
 top: 0;
 left: 0;
}
.sidebar {
 width: 97%;
}
.menu {
 padding: 12px 0;
 border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.menu__options {
 padding: 0 24px;
 height: 40px;
}
.menu__options.active {
 background-color: #e5e5e5;
}
.menu__options.active h3 {
 font-weight: 700;
}
.menu__options span {
 margin-right: 24px;
}
.menu__options h3 {
 font-size: 14px;
 font-weight: 400;
 color: #000000;
}
.menu__bottom {
 padding: 8px 0;
 border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* videos */

.videos {
 background-color: #f9f9f9;
 width: 100%;
 height: 100%;
 padding: 15px 15px;
 border-top: 1px solid #ddd;
 overflow-y: scroll;
}

.videos__container {
 display: flex;

 flex-direction: row;
 justify-content: space-around;
 flex-wrap: wrap;
}

.video {
 width: 310px;
 margin-left: 5px;
 margin-right: 5px;
 margin-bottom: 30px;
}

.video__thumbnail {
 width: 100%;
 height: 170px;
}

.video__thumbnail img {
 object-fit: cover;
 height: 100%;
 width: 100%;
}

.author img {
 object-fit: cover;
 border-radius: 50%;
 height: 40px;
 width: 40px;
 margin-right: 10px;
}

.video__details {
 display: flex;
 margin-top: 10px;
}

.title {
 display: flex;
 flex-direction: column;
}

.title h3 {
 color: rgb(3, 3, 3);
 line-height: 18px;
 font-size: 14px;
 margin-bottom: 6px;
}

.title a,
span {
 text-decoration: none;
 color: rgb(96, 96, 96);
 font-size: 14px;
}

h1 {
 font-size: 20px;
 margin-bottom: 10px;
 color: rgb(3, 3, 3);
}

@media (max-width: 425px) {
 .header__search {
  display: none;
 }

 .header__icons .material-icons {
  display: none;
 }

 .header__icons .display-this {
  display: inline;
 }

 .sidebar {
  display: none;
 }
}

@media (max-width: 768px) {
 .header__search {
  display: none;
 }

 .sidebar {
  display: none;
 }

 .show-sidebar {
  display: inline;
  position: fixed;
  top: 4.4rem;
  height: auto;
 }
}

@media (max-width: 941px) {
 .header__search input {
  width: 300px;
 }
}
