* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:root {
 --font: 'Open Sans', sans-serif;
 --section-1-bg-color: linear-gradient(#1a1a1a, #333333);
 --black-color: #1a1a1a;
 --orange-color: #ffcc00;
}

body {
 font-family: var(--font);
 background-color: var(--black-color);
}

header {
 background-color: var(--black-color);
 color: #fff;
 padding: 0 7rem;
}
.header__center {
 display: flex;
 align-items: center;
 justify-content: space-between;
 min-height: 4.5rem;
}
.header__center span,
.header__center > h3 {
 font-size: 1.875rem;
}
.header__center > h3 {
 font-weight: 700;
 line-height: 1.2;
 text-transform: uppercase;
}
.header__center > h3 > a {
 text-decoration: none;
 color: #fff;
}

/* section 1 */

section.u-section-1 {
 background: var(--section-1-bg-color);
 height: 100vh;
 padding: 5rem 7rem;
 position: relative;
 color: var(--black-color);
}
.s1__boxs {
 position: relative;
}
.s1_orange__box {
 width: 27.563rem;
 height: 60.375rem;
 background-color: var(--orange-color);
 position: relative;
 top: 2rem;
 left: 1rem;
 z-index: 1;
}
.s1_white__box {
 display: flex;
 align-items: center;
 width: 44.688rem;
 height: 14.688rem;
 background-color: #fff;
 color: var(--black-color);
 padding: 0 19px 0 20px;
 box-shadow: 10px 11px 40px 0 rgba(51, 49, 41, 0.25);
 position: absolute;
 top: -1rem;
 right: 0;
 z-index: 3;
}
.s1_white__box h3 {
 font-size: 4.5rem;
 font-family: 'Playfair Display', serif;
 word-wrap: break-word;
 font-weight: 700;
 line-height: 1.2;
 font-style: italic;
}
.s1_center__box {
 width: 52.313rem;
 height: 38.688rem;
 background: url('../img/africa9.jpg') no-repeat;
 background-size: cover;
 position: absolute;
 top: 9rem;
 right: 5rem;
 z-index: 2;
}
.s1_leopar__box {
 width: 42.375rem;
 min-height: 28.5rem;
 background: url('//images02.nicepage.com/c461c07a441a5d220e8feb1a/3c8be0bec87a50df8de84d36/leopardpattern.png');
 position: absolute;
 top: 24rem;
 right: 0;
}
.s1_black__box {
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 width: 27.563rem;
 min-height: 19rem;
 background-color: #000;
 padding: 3rem 2rem;
 position: absolute;
 left: 4rem;
 bottom: 4rem;
 z-index: 3;
}
.s1_black__box p {
 font-size: 1.25rem;
 font-weight: 600;
 color: #fff;
 margin-right: 3.438rem;
}
.s1_black__box span {
 font-size: 5rem;
 color: var(--orange-color);
}
.p_text {
 display: flex;
 align-items: center;
 width: max-content;
 height: 2rem;
 position: absolute;
 right: 0;
 bottom: 5rem;
 z-index: 5;
}
.p_text p,
.p_text span {
 font-style: italic;
 line-height: 1;
 font-weight: 400;
 line-height: 1.6;
 font-size: 1.25rem;
 color: #fff;
}
.p_text span {
 color: var(--orange-color);
}

@media screen and (max-width: 998px) {
 html {
  font-size: 13px;
 }
 .s1_center__box {
  width: 48.313rem;
  height: 34.688rem;
 }
}
@media screen and (max-width: 768px) {
 html {
  font-size: 10px;
 }
 .s1_center__box {
  width: 45.313rem;
  height: 31.688rem;
 }
}
@media screen and (max-width: 430px) {
 html {
  font-size: 6px;
 }
 .s1_center__box {
  width: 42.313rem;
  height: 28.688rem;
 }
}
