* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, Helvetica, Arial, sans-serif;
}

body {
 display: flex;
}

header {
 display: flex;
 width: 317px;
 height: 700px;
 position: sticky;
 border-right: 1px solid red;
 top: 0;
 left: 0;
 right: 0;
}
.sidebar__box {
 position: relative;
 width: 255px;
 height: 100%;
 padding: 0 12px;
 right: -45px;
}
.sidebar {
 display: flex;
 flex-direction: column;
}
.header__logo {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 50px;
 height: 50px;
 border-radius: 50%;
 cursor: pointer;
}
.header__logo:hover {
 background-color: #e8f5fd;
}
.header__logo i {
 font-size: 28px;
 color: rgb(29, 155, 240);
}
nav {
 margin: 2px 0 4px 0;
}
nav .navbar__options_box {
 display: inline-flex;
 align-items: center;
 padding: 12px;
 max-width: 100%;
 border-radius: 9999px;
 cursor: pointer;
}
nav .navbar__options_box:hover {
 background-color: lightblue;
}
nav .navbar__options {
 width: 24px;
}
nav .navbar__options i {
 font-size: x-large;
}
nav .navbar__options_box span {
 margin: 0 16px 0 20px;
 font-size: 20px;
 text-align: center;
}
nav .navbar__options_box span.active {
 font-weight: bold;
}
.sidebar__bottom {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 90%;
 height: 52px;
 background-color: #1d9be7;
 margin: 2px 0 4px 0;
 padding: 0 32px;
 border-radius: 9999px;
}
.sidebar__bottom a {
 color: #fff;
 text-decoration: none;
 font-size: 17px;
 font-weight: bold;
}
.sidebar__fotter {
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-top: 28px;
 padding: 12px;
 width: 100%;
 border-radius: 9999px;
}
.sidebar__footer__left,
.sidebar__footer__left img {
 display: flex;
 align-items: center;
 width: 40px;
 height: 40px;
 margin-right: 10px;
 border-radius: 50%;
}
main {
 display: flex;
 width: 65rem;
 height: 100rem;
 background-color: aqua;
}

main div.left {
 display: flex;
 flex-direction: column;
 flex: 0.585;
 background-color: antiquewhite;
}
main div.left .left__header {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0 16px;
 height: 53px;
}
main div.left .left__header p {
 font-weight: 500 !important;
}
main div.left .left__header p,
main div.left .left__header i {
 font-size: 20px;
 font-weight: 300;
}
